@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
    <div style="width:90%; margin:0 auto" class="tablecontainer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" href="" data-url="/Supplier/AddOrEditSupplier" data-type='Add' > <i class="fa fa-plus"></i> Add Supplier </button>
        <table id="myTableSupplier" class="table table-bordered" style="text-align:center" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Supplier Name</th>
                    <th>Supplier Email</th>
                    <th>Supplier Address</th>
                    <th>Contact Number</th>
                    <th>Brand Name</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>





@section Scripts {
   <script src="~/js/supplierdt.js"></script>
}