@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="card">
           <div class="card-body">
    <div style="width:90%; margin:0 auto" class="tablecontainer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" href="" data-url="/Order/CreateOrder" data-type='Add'> <i class="fa fa-plus"></i> Add Order </button>
        <table id="myTableOrder" class="table table-bordered" style="text-align:center" width="100%">
            <thead>
                <tr>
                    <th>Order Number</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Grand Total</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</div>







@section Scripts {
   <script src="~/js/orderdt.js"></script>
}